.md-content__inner.md-typeset {
    font-size:14px ;
    /* padding-left: 25px;
    border-left: 4px solid rgba(230, 230, 230);
    margin-bottom: 80px; */
  }

.output_area{
    font-size:12px;
}

.md-grid{
    max-width: 70rem;
}

.md-sidebar--secondary{
    margin-left: 58rem;

}

.md-header{
    background-color:#16293c;
}


.md-footer{
    background-color:#16293c;
}


.md-tabs{
    background-color:#16293c;
}

:root {


  /* Primary color shades */
  --md-primary-fg-color:               #330867;

  }